@{
    ViewBag.Title = "A Empresa";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        <details>
              <summary>Bla bla bla</summary>
            <p>asdfasdfasdfasdfas</p>
            <p>asdfasdfasdfasdfas</p>
            <p>asdfasdfasdfasdfas</p>
            <p>asdfasdfasdfasdfas</p>
        </details>
    </p>

    <p>
        <details>
              <summary>Bla bla bla</summary>
            <p>asdfasdfasdfasdfas</p>
            <p>asdfasdfasdfasdfas</p>
            <p>asdfasdfasdfasdfas</p>
            <p>asdfasdfasdfasdfas</p>
        </details>
    </p>

    <p>
        <details>
              <summary>Bla bla bla</summary>
            <p>asdfasdfasdfasdfas</p>
            <p>asdfasdfasdfasdfas</p>
            <p>asdfasdfasdfasdfas</p>
            <p>asdfasdfasdfasdfas</p>
        </details>
    </p>
</article>