@{
    ViewBag.Title = "Contato";
}

<div class="content-wrapper">
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Telefone</h3>
    </header>
    <p>
        <span class="label">Principal:</span>
        <span>(85) 3233-2311</span>
    </p>
    <p>
        <span class="label">Altas Horas:</span>
        <span>(85) 3222-1343</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>E-mail</h3>
    </header>
    <p>
        <span class="label">Suporte:</span>
        <span><a href="mailto:Support@example.com">suporte@delivery.com</a></span>
    </p>
    <p>
        <span class="label">Relações Publicas:</span>
        <span><a href="mailto:Marketing@example.com">relacoespublicas@delivery.com</a></span>
    </p>
    <p>
        <span class="label">Relações Comerciais:</span>
        <span><a href="mailto:General@example.com">comercial@delivery.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Endereço</h3>
    </header>
    <p>
        Rua Dom Expedito Lopes, 2371<br />
        Fortaleza, CE 60135-410
    </p>
</section>
    </div>