@{
    ViewBag.Title = "Produtos";
}


<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<aside class="esquerda">
    <h3>Filtrar por:</h3>
    <p>
        Refine a sua busca
    </p>
    <dl>
        <dt>Tipo</dt>
          <a href="\"><dd>Destiladas</dd></a>
          <a href="\"><dd>Fermentadas</dd></a>
        <dt>Idade</dt>
            <a href="\"><dd>0 - 4 anos</dd></a>
            <a href="\"><dd>5 - 10 anos</dd></a>
            <a href="\"><dd>11 - 15 anos</dd></a>
            <a href="\"><dd>16 ou mais anos</dd></a>
        <dt>Fabricante</dt>
          <a href="\"><dd>asdasdasd</dd></a>
          <a href="\"><dd>asdasdasd</dd></a>
          <a href="\"><dd>asdasdasd</dd></a>
        <dt>Pais</dt>
            <a href="\"><dd>Brasil</dd></a>
            <a href="\"><dd>França</dd></a>
            <a href="\"><dd>Russia</dd></a>
            <a href="\"><dd>Ucrânia</dd></a>
    </dl>
</aside>

<article>
            <table style="float:left">
                <th>Produto1</th>
                <tr><td><img src="img_pulpit.jpg" alt="The Pulpit Rock" width="280" height="228"></td></tr>
                <tr><td>asdfasdfasdfasdfasfdasdfsd</td></tr>
            </table>
            <table style="float:left">
                <th>Produto2</th>
                <tr><td><img src="img_pulpit.jpg" alt="The Pulpit Rock" width="280" height="228"></td></tr>
                <tr><td>asdfasdfasdfasdfasfdasdfsd</td></tr>
            </table>
            <table style="float:left">
                <th>Produto3</th>
                <tr><td><img src="img_pulpit.jpg" alt="The Pulpit Rock" width="280" height="228"></td></tr>
                <tr><td>asdfasdfasdfasdfasfdasdfsd</td></tr>
            </table>
            <table style="float:left">
                <th>Produto4</th>
                <tr><td><img src="img_pulpit.jpg" alt="The Pulpit Rock" width="280" height="228"></td></tr>
                <tr><td>asdfasdfasdfasdfasfdasdfsd</td></tr>
            </table>    
</article>